
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// bulma
@import 'bulma';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.legal {
  background-color: $grey;
  color: $white;
}

.position-bottom {
  width: 100%;
  left: 0;
  bottom: 10px;
  position: absolute;
}
